<%= form_for(@van) do |form| %>
  <%= render 'common/errors', resource: @van %>

  <div class="field">
    <%= form.label :kind, 'Выберите тип:' %>
    <%= form.collection_select :van_kind_id, VanKind.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :up_seats, 'Верхних мест:' %>
    <%= form.text_field :up_seats, id: :van_up_seats %>
  </div>

  <div class="field">
    <%= form.label :down_seats, 'Нижних мест:' %>
    <%= form.text_field :down_seats, id: :van_down_seats %>
  </div>

  <div class="field">
    <%= form.label :train, 'Выберите поезд:' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @van.new_record? ? 'Создать вагон' : 'Изменить вагон'}" %>
  </div>
<% end %>
