<%= form_for(@van.becomes(Van)) do |form| %>
  <%= render 'common/errors', resource: @van %>

  <div class="field">
    <%= form.label :type, 'Выберите тип:' %>
    <%= form.collection_select :type, VanKind.all, :van_type, :title %>
  </div>

  <div class="field">
    <%= form.label :train, 'Выберите поезд:' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @van.new_record? ? 'Создать вагон' : 'Изменить вагон'}" %>
  </div>
<% end %>
