<% ['coupe', 'platz'].each do |type| %>
  <% current_van_type = "#{ type == 'coupe' ? 'Купейных' : 'Плацкартных' }" %>
  <% unless @train.send("#{type}_vans").count.zero? %>
    <p>
    <strong><%= current_van_type %> вагонов в составе поезда: </strong><%= @train.send("#{type}_vans").count %><br />
    <%= current_van_type %> мест:
    <ul>
      <% ['Верхних:', 'Нижних:'].each do |place| %>
        <% kind = "#{ place == 'Верхних:' ? 'up' : 'down' }" %>
        <li><%= place %><%= @train.seats(type, kind)%></li>
      <% end %>
    </ul>
    </p>
  <% end %>
<% end %>
