<p id="notice"><%= notice %></p>

<p>
  <strong>Вагон номер:</strong>
  <%= @van.number %><br />
  <strong>Тип вагона:</strong>
  <%= @van.show_self_type %><br />
  <%= render 'seats', resource: @van %>
</p>

<p>
  <strong>Текущий поезд:</strong>
    <%= @train.number %>
</p>

<%= link_to 'Редактировать', edit_train_van_path(@train, @van) %>
<%= link_to 'Назад', @train %>
