<p id="notice"><%= notice %></p>

<p>
  <strong>Вагон номер:</strong>
  <%= @van.number %><br />
  <strong>Тип вагона:</strong>
  <%= @van.show_self_type %><br />
  <%= render 'seats', resource: @van %>
</p>

<p>
  <strong>Текущий поезд:</strong>
  <% if @van.train %>
    <%= @van.train.number %>
  <% else %>
    Не указано
  <% end %>
</p>

<%= link_to 'Редактировать', edit_van_path(@van) %>
<%= link_to 'Назад', vans_path %>
