<p>
  <strong><%= t('table.thead.name') %></strong>
  <%= @railway_station.title %>
</p>

<% if @railway_station.routes.empty? %>
  <p><%= t('common.messages.railway_station_has_no_route_yet') %></p>
<% else %>
  <p><%= t('common.messages.railway_station_has_next_routes') %></p>
  <% @railway_station.routes.each do |s| %>
    <ul>
      <li><%= s.title %></li>
    </ul>
  <% end %>
<% end %>

<%= link_to t('links.edit'), edit_admin_railway_station_path(@railway_station) %> |
<%= link_to t('links.back'), admin_railway_stations_path %>
