<p>
  <strong><%= t('.route_name') %></strong>
  <%= @route.title %>
</p>

<p>
  <strong><%= t('.route_railway_stations') %></strong>
  <% if @route.railway_stations.empty? %>
    <%= t('common.messages.route_has_no_railway_stations_yet') %>
  <% else %>
    <table class='table table-hover'>
      <thead>
        <th><%= t('table.thead.station_title') %></th>
        <th><%= t('table.thead.arrival_time') %></th>
        <th><%= t('table.thead.departure_time') %></th>
        <th><%= t('table.thead.position_in_route') %></th>
      </thead>
      <%= render 'sorted', type: 'increase' %>
    </table>
  <% end %>
</p>

<p>
  <strong><%= t('.trains_on_the_route') %></strong>
  <% if @route.trains.empty? %>
    <%= t('common.messages.route_has_no_trains_yet') %>
  <% else %>
    <% @route.trains.each do |train| %>
      <ul>
        <li>
          <%= train.number %>
        </li>
      </ul>
    <% end %>
  <% end %>
</p>

<%= link_to t('links.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('links.back'), admin_routes_path %>
