<p id="notice"><%= notice %></p>

<p>
  <strong>Поезд номер:</strong>
  <%= @train.number %>

  <% if @train.vans.empty? %>
    <br />
    К поезду не присоединены вагоны
  <% else %>
    <br />
    <%= render 'vans/vans_kind', train: @train %>
  <% end %>
</p>

<p>
  <strong>Текущий маршрут:</strong>
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
    Нет назначенного маршрута
  <% end %>
  <br />
  <strong>Текущая станция:</strong>
  <% if @train.current_station %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
