<%= form_for [:admin, @train, @van] do |form| %>
  <%= render 'common/errors', resource: @van %>
  <p>для поезда <%= @train.number %>  </p>
  <div class="field">
    <%= form.label :type, 'Выберите тип:' %>
    <%= form.collection_select :type, VanKind.all, :van_type, :title %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @van.new_record? ? 'Создать вагон' : 'Изменить вагон'}" %>
  </div>
<% end %>
