<%= form_for @ticket do |f| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class='field'>
    <strong>Пользователь:</strong>
    <%= params[:user_name] %>
  </div>

  <div>
    <strong>Информация о выбранном поезде:</strong>
  </div>

  <div class='field'>
    <strong>Поезд:</strong>
    <%= params[:train_number] %><br />
    <strong>Маршрут:</strong>
    <%= params[:route_title] %><br />
    <strong>Начальная станция:</strong>
    <%= params[:start_station_title] %><br />
    <strong>Конечная станция:</strong>
    <%= params[:finish_station_title] %><br />
  </div>

  <div>
    <strong>Данные пассажира:</strong>
  </div>

  <div class='field'>
    <%= f.label :first_name, 'Имя' %>
    <%= f.text_field :first_name %>
  </div>

  <div class='field'>
    <%= f.label :last_name, 'Фамилия' %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <strong>Паспорт:</strong>
  </div>

  <div class='field'>
    <%= f.label 'Серия и номер:' %>
    <%= f.text_field :passport_serial, size:5 %>
    <%= f.text_field :passport_number %>
  </div>

  <%= f.hidden_field :user_id, value: params[:user_id] %>
  <%= f.hidden_field :start_station_id, value: params[:start_station_id] %>
  <%= f.hidden_field :finish_station_id, value: params[:finish_station_id] %>
  <%= f.hidden_field :route_id, value: params[:route_id] %>
  <%= f.hidden_field :train_id, value: params[:train_id] %>
  <%= f.submit 'Купить' %>
<% end %>
