<div>
  <h3>Информация о купленном билете</h3>
  <div>
    <strong>Пассажир:</strong>
    <%= @ticket.first_name %> <%= @ticket.last_name %><br />
    <strong>Поезд:</strong>
    <%= @ticket.train.number %><br />
    <strong>Маршрут:</strong>
    <%= @ticket.route.title %>
    <br />
    <strong>От станции</strong>
    <%= @ticket.station('start').title %>
    <b>отпр:</b><%=  @ticket.start_station.show_time_for('departure') %>
    <br />
    <strong>До станции</strong>
    <%= @ticket.station('finish').title %>
    <b>приб:</b><%= @ticket.finish_station.show_time_for('arrival') %>
    <br />
  </div>
</div>
<br />
<%= link_to 'К списку билетов', tickets_path %>
<% if current_user.admin? %>
  | <%= link_to 'Редактировать', edit_admin_ticket_path(@ticket) %>
<% end %>
