<strong>Маршрут: <%= route.title %></strong><br />
<% route.trains.each do |train| %>
    <div class='train'>
      <strong>поезд: </strong><%= train.number %><br />
      отправление: <%= route.railway_stations.find(@start_station).show_time_for('departure') %><br />
      прибытие: <%= route.railway_stations.find(@finish_station).show_time_for('arrival') %><br />
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Выбрать', new_admin_ticket_path(route_id: route.id,
                                                     start_station_id: @start_station,
                                                     finish_station_id: @finish_station,
                                                     train_id: train.id), class: "btn btn-default btn-md" %>
      <% else %>
        <%= link_to 'Выбрать', new_ticket_path(route_id: route.id,
                                               start_station_id: @start_station,
                                               finish_station_id: @finish_station,
                                               train_id: train.id), class: "btn btn-default btn-md" %>
      <% end %>
    </div>
<% end %>
