<br />
<br />
<table>
  <% @search.stations.each do |station| %>
    <tr>
      <% if current_user.admin? %><%= render 'set_shedule', station: station %><% end %>
    </tr>
  <% end %>
</table>
<%= form_for(@search) do |form| %>
  <%= form.label :title, 'Выберите станции' %>
  <%= form.label :title, 'Начальная станция:' %>
  <%= form.collection_select :start_station_id, RailwayStation.all, :id, :title, {}, { class: 'btn btn-default dropdown-toggle' } %>
  <%= form.label :title, 'Конечная станция:' %>
  <%= form.collection_select :finish_station_id, RailwayStation.all, :id, :title, {}, { class: 'btn btn-default dropdown-toggle' }  %>
  <%= form.submit 'Поиск', class: "btn btn-primary btn-sm" %>
<% end %>
