<table class='col-md-12'>
  <% if current_user.admin? %>
    <% @search.stations.each do |station| %>
      <tr>
        <%= render 'set_shedule', station: station %>
      </tr>
    <% end %>
  <% end %>

  <%= form_for(@search) do |form| %>
    <tr>
      <td>
        <h3><%= form.label :title, 'Поиск билета' %></h3>
      </td>
    </tr>
    <tr>
      <td class='col-md-5'>
        <%= form.collection_select :start_station_id, RailwayStation.all, :id, :title, {}, { class: 'form-control dropdown-toggle'} %>
      </td>
      <td class='col-md-5'>
        <%= form.collection_select :finish_station_id, RailwayStation.all, :id, :title, {}, { class: 'form-control dropdown-toggle' }  %>
      </td>
      <td>
        <%= form.submit 'Поиск', class: "btn btn-primary btn-md" %>
      </td>
    </tr>
  <% end %>
</table>
