<%= form_for(@route) do |form| %>
  <%= render 'common/errors', resource: @route %>

  <div class="field">
    <%= form.label :title %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @route.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
