<h4><%= t('.title') %></h4>

<table class='table table-hover'>
  <thead>
    <tr>
      <th><%= t('table.thead.number') %></th>
      <th><%= t('table.thead.vans') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to t('links.new_train'), new_admin_train_path %>
