<h3>Информация о пользователе</h3>
<%= @user.id %>
<%= @user.name %>
<%= @user.last_name %>
<%= @user.email %>
<% @user.tickets.each do |ticket| %>
<p style='border: 1px solid black'>
  <h4>Билет</h4>
  <strong>Маршрут: </strong><%= ticket.route.title %><br />
  <strong>От: </strong><%= ticket.start_station.title %>
  <strong>До: </strong><%= ticket.finish_station.title %><br />
  <strong>Поезд: </strong><%= ticket.train.number %><br />
  <strong>Пассажир</strong>
  <strong>Имя: </strong><%= ticket.first_name %>
  <strong>Фамилия: </strong><%= ticket.last_name %><br />
  <strong>Паспорт</strong>
  <strong>Серия: </strong><%= ticket.passport_serial %>
  <strong>Номер: </strong><%= ticket.passport_number %><br />
</p>
<% end %>
